Source: okycmd
Maintainer: Olivier R-D <unknown@unknown>
Section: Utilities
Priority: extra
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
X-Python3-Version: >= 3.1

Package: okycmd
Architecture: all
Conflicts: onkyocmd, python3-oky
Depends: ${python3:Depends}
Description: Network client to onkyo receiver

#Package: python3-oky
#Architecture: all
#Conflicts: onkyocmd, okycmd 
#Depends: ${python3:Depends}, ${misc:Depends}, python3
#Description: Network client to onkyo receiver

