Source: onkyocmd
Maintainer: Olivier R-D <unknown@unknown>
Section: python
Priority: optional
Build-Depends: python3 , debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: onkyocmd
Architecture: all
Depends: ${misc:Depends}, python3
Breaks: ${python:Breaks}
Description: Network client to onkyo receiver

